/* work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* shared styles */
*{
    font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}


 /* header section */
 header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 240px 20px 240px;

 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 nav>h3{
    font-size: 2.5rem;
    align-items: center;
    font-weight: 700px;
    color: #131313;
 }
 nav>ul{
    display: flex;
 }
 nav li{
    margin-left: 30px;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    list-style: none;
    color: #424242;
 }
/* nav bar end */
/* banner container start */
.banner-content{
    max-width:800px;
    text-align: center;
    margin: 0px auto;
}
.banner-image img{
    width: 100%;
    margin-top: 20px;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;   
    padding-top: 30px;
}
.banner-description{
    color: #131313;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-primary{
    color:#ffffff;
    font-size: 1.25rem;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    
}
/* header/banner end */
/* team section start */

.team-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-left: 0px;    
}

.team-image-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
   
}

.team-content{
  padding-left: 70px;
  padding-right: 70px;
}
.team-title-one{
    color: #727272;
    font-size: 2.28rem;
    font-weight: 500;
}
.team-title-two{
    color: #131313;
    font-size: 2.28rem;
    font-weight: 700;
}
.team-titlr-three{
    color: #FF900E;
    font-size: 2.28rem;
    font-weight: 700;
}

/* feature container start */
.feature-container{
    display: flex;
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 2px solid aqua;
   
   
}
.feature-content{

    margin-left: 100px;

}
.feature-image {
    height: 80%;
    padding: 40px 20px 20px 20px;
}
.feature-title{
    font-size: 2.5rem;
    border-left: solid 3px red ;
    padding-left: 10px;

}

.feature-box{

    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
.feature-box .banner-description{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-container{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box{
    border: solid 2px coral;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-left: 20px;
    margin-right: 20px;
}

/* responsive */
/* responsive for mobile device */
@media screen and (max-width: 576px){
    header{
        padding: 10px 20px;
    }
    nav,
    .team-container,
    .feature-container,
    .box-container{
        flex-direction: column;
        margin: 0px;
        
    }
    nav>ul{
        padding: 0px;
    }
    .team-image-content{
        display: flex;
        flex-direction: column;
        
    }
    .team-content{
        padding: 10px;
        text-align: center;
        
    }
    .feature-content{
        margin-left: 0px;
    }
    .feature-image{
        width: 90%;
    }

    .box{
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* responsive for tab */
@media screen and (min-width: 576px) and (max-width:962px) {
    header{
        padding: 10px 20px;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        padding: 0px;
    }
    .team-container,
    .feature-container{
        flex-direction: column;
        margin: 0px;}  
        .team-image-content{
            gap: 0px;
        }
        .team-content{
            text-align: center;
        }
    .feature-content{
        margin-right: 30px;
        margin-left: 30px;
    }
    .feature-image{
        width: 95%;
    }
    .card-container{
        margin: 10px;
        text-align: center;
    }
}
